<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430606753070-0of1oalbuclh4s4795t29la8r84fubo1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430606753070-0of1oalbuclh4s4795t29la8r84fubo1</string>
	<key>API_KEY</key>
	<string>AIzaSyCuiPH6nedTQy356-kjoxR8UtRz6BxDXXU</string>
	<key>GCM_SENDER_ID</key>
	<string>430606753070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.lbp</string>
	<key>PROJECT_ID</key>
	<string>lbp-study</string>
	<key>STORAGE_BUCKET</key>
	<string>lbp-study.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430606753070:ios:410f1890ce336d6e17eebf</string>
</dict>
</plist>